/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400 ;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700 ;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  height: 100%;

}
body{
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
}

.body-container{
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Pages */

/* Header */
.navigation{
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo{
width: 139px;
margin-right: 30px;
}

.navigation-list{
  width: 450px;
  margin: 0;
  padding: 0;
}

.navigation-user{
  max-width: 300px;
  margin-left: auto;
}
.navigation-link{
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

 /* Коричневая кнопка*/
.brown-button{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  background: #756257;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
 }

 .want-button{
   font-family: "PT Sans", sans-serif;
   font-size: 16px;
   line-height: 20px;
 }

/* Main */

.main-container{
flex-grow: 1;

}
.main-background{
  height: 485px;
  background: rgba(131, 179, 211, 0.2);
  background-image: url("/images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.welcome-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section-title{
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description{
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

/* Advantages */

.advantage-list{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantage-sublist{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantage-with-image{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  }

.advantage-item{
  width: 400px;
  height: 384px;
}

.advantage-image{
  width: 800px;
  height: 384px;
}


.advantage-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantage-title-white{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.cold-light-background{
  background-color: #83B3D3;
  color: #ffffff;
}

.cold-light-12-background{
  background: rgba(131, 179, 211, 0.12);
}
.cold-light-20-background{
  background: rgba(131, 179, 211, 0.2);
}

.hotel-search-description{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}


.subscribe-background{
  background-image: url("/images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #83B3D3;
  color: #ffffff;
}

.subscribe-white-title{
  color: #ffffff;
}

.subscribe-description{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-form{
  text-align: center;
}
.email-input{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.search-brown-button{
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button{
  font-size: 20px;
  line-height: 26px;
}

/* Footer */
.page-footer-container{
  display: flex;
  justify-content: space-around;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.footer-social{
width: 107px;
margin-left: 72px;
text-align: center;
}

.footer-contact{
  width: 720px;
  margin: 0 auto;
  text-align: center;
}

.footer-contact-phone{
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-developer{
  width: 115px;
  margin-right: 72px;
  text-align: center;
}

/* Modal window */

.booking-modal{
  width: 715px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.input-label{
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}

.info-small-window{
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.date-input{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}
.error-message{
  font-size: 16px;
  line-height: 40px;
  color: #ff5757;
}

.info-message{
  font-size: 16px;
  line-height: 40px;
}

.customers-number{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}
.search-blue-button{
  font-size: 20px;
  line-height: 40px;
}
/* hotels catalog */



.inner-catalog-image{
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url("/images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


/* Голубая кнопка */
.light-blue-button{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #ffffff;
  background: #83B3D3;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
}

.reset-button{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background: none;
  border: none;
}

.inner-header-title{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link{
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.hotels-filter-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.checkbox{
  font-size: 18px;
  line-height: 23px;
}

.submit-button{
font-size: 16px;
line-height: 21px;
}

.sort-title{
  font-size: 30px;
  line-height: 39px;
}

.sort-select{
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 23px;
}

.hotels-list{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
  width: 1056px;
}

.hotels-item{
  width: 340px;
}

/* hotels cards */

.hotel-card-title-link{
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-type{
  font-size: 18px;
  line-height: 23px;
}

.hotel-card-price{
  font-size: 18px;
  line-height: 23px;
}

.about-button{
  font-size: 16px;
  line-height: 21px;
}

.favourites-button{
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  }

.hotel-card-rating{
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
/* Зеленая кнопка */
.green-button{
  color: #ffffff;
  font-weight: 700;
  background: #7db54f;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
}

.divider{
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.pagination-download-button{
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.pagination-current{
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
}

.pagination-link{
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.display-quantity{
  font-size: 18px;
  line-height: 23px;
}

.quantity-select{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}


